<center> <h1 style="background-color:DodgerBlue;"> <b> DETAILS OF PLACES </b> </h1> </center>


<h2> Shop name :  <i style="color:blue;"> <%= @place.Shop_name %> </i> </h2>

<h2>  Shop code : <i style="color:blue;"> <%= @place.Code %> </i> </h2> 

<h2> Shop Description : <i style="color:blue;"> <%= @place.Description %> </i> </h2>

<h2> <%= link_to "Back to Index", root_path %></h2>